.form-control, .btn-lg{
    margin-bottom: 10px;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #FF7F50;
    overflow-x: hidden;
}
.custom-nav-container{
width: 100%;
}