*{
    /*defaults*/
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.header {
	padding: 1% 2%;
    width: 100%;
    height: 7vh;
    position: relative;
    z-index: 1;
}

.headerButton {
    text-decoration: none;
    color: white;
    padding: 0% 3%;
    font-size: 4vmin;
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin: 0 8vmin 0 0;*/
    float: right;
    height: 100%;
    /*max-width: 10vmin;*/
    text-align: right;
    list-style-position: inside;
    list-style-type: none;

}
@media (max-width: 600px){
    .headerButton{
        font-size: 3vmin;
         margin: 0 4vmin 0 0;
    }
}
a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: inherit;
}
.headerButtonContainer {
    position: absolute;
    top: 50%;
    height: 4.5vmin;
    width: 100%;
    transform: translate(0,-50%);
}
#icon{
	position: absolute;
    height: 150%;
}
#user-icon{
	position: absolute;
	margin: 0% 0% 0% -8%;
    height: 50%;
}
#settings-icon{
	position: absolute;
	margin: 0% 0% 0% -2%;
    height: 50%;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #FF7F50;
    overflow-x: hidden;
}

#TEST{
	font-size: 2vmin;
}
#user-profile h1{
	margin: 5% 0;
	padding: 3%;
	text-align: center;
    color: white;
    font-size: 7vw;
	/*background-color: #F8CCAF;*/
}

.creator-controls {
    /*background-color: #B6B9EF;*/
    margin-top:4%;
    width: 40%;
}
.light-bonfire-login {
    margin: auto;
    width: 45%;
    text-align: center;

}
#key{
    margin: 1%;
}
#submit-button{
    margin: 2% 10%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.search-results{
    width:300px;
    /*border: 2px solid black;*/
    margin:30px;
    float:left;
    color: white;
}
.search-results-image{
    width:250px;
    height:300px;
}
 .search-results-list{
    border: 2px solid black;
    margin:10px;
}

#queue-container{
    margin: auto;
    width: 50%;
    padding: 4px;
    overflow-y: auto;
    height: 400px;
}
#queue-display{
    background-color:lightsteelblue;
    font-size:15px;
    width:100%;
}


#queue-container-creator{
    float:right;
    margin-bottom:20px;;
    width: 50%;
    padding: 4px;
    overflow-y: auto;
    height: 400px;
}
#queue-display-creator{
    background-color:lightsteelblue;
    font-size:15px;
    width:100%;
}


.scrollbar {
    margin-left: 30px;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    }
    
    .scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; }
    
    .scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547; }
    
    .scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800; }
    
    .scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851; }
    
    .scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5; }
    
    .scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD; }
    
    .scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; }